$primary: #90fcc3;
$secondary: #e0fea2;
$text: #343634;
$shadow: rgba(0, 0, 0, 0.25);
$shadow-2: rgba(0, 0, 0, 0.22);
// $form-text:
// $subtext:

* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 20px;
  box-sizing: border-box;
  user-select: none;
}
html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
#container {
  background-image: url('./img/no-leaf-no-cup-transformed.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  -webkit-background-position: center;
  -moz-background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.nav-bar {
  display: flex;
  width: 100vw;
  height: 120px;
  align-items: center;
}
.logo {
  width: auto;
  height: 50px;
  margin-left: 30px;
}
.nav-items {
  display: flex;
  margin-left: 5%;
  cursor: pointer;
  user-select: none;
  color: $text;
  & .menu,
  .contact {
    margin-left: 30px;
  }
}
.about,
.menu,
.contact,
.github-link,
.store,
.social-icons {
  transition: 0.5s;
  &:hover {
    color: $primary;
    background: linear-gradient(30deg, $primary 0%, $secondary 51%, $primary 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}
.active {
  color: $primary;
  background: linear-gradient(30deg, $primary 0%, $secondary 51%, $primary 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.github-link {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 30px;
  margin-right: 0px;
  font-size: 16px;
  color: $text;
  &:hover {
    transform: scale(1.07);
  }
}

//HOME
.main {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.hero-text {
  height: auto;
  width: 50%;
  margin-top: 160px;
  animation: 0.3s ease-in-out 0s 1 simmer;
}
@keyframes simmer {
  0% {
    filter: blur(3px);
    transform: scale(0.95);
  }
  100% {
    filter: blur(0px);
    transform: scale(1);
  }
}
.order-btn {
  font-size: 20px;
  font-weight: 600;
  color: $text;
  width: 160px;
  height: 50px;
  margin-top: 160px;
  border: none;
  border-radius: 30px;
  box-shadow: $shadow 0px 14px 28px, $shadow-2 0px 5px 5px;

  transition: 0.3s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, $primary 0%, $secondary 51%, $primary 100%);
  animation: 0.3s ease-in-out 0s 1 simmer;
  &:hover {
    background-position: right center;
    transform: scale(1.03);
  }
  &:active {
    transform: scale(0.97);
  }
}
.store-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  left: 43px;
  bottom: 40px;
}
.fa-location-dot {
  color: $text;
}
.store {
  z-index: 1;
  color: $text;
  cursor: pointer;
}
.git-leaf {
  width: 100%;
  z-index: 2;
  position: relative;
  right: -10%;
  animation: sidewigglereverse 1.5s;
}
.wrapper {
  position: absolute;
  top: 0;
  right: 0;
}
.wrapper:hover .git-leaf {
  animation: sidewiggle 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.cup {
  width: 47%;
  position: absolute;
  top: 20%;
  right: 0;
  animation: growslide 0.5s;
}
@keyframes growslide {
  0% {
    transform: scale(0.9) translateX(-10%);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}
.leaf-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 25%;
  width: 100%;
  overflow: hidden;
}
.leaf {
  z-index: 2;
  position: relative;
  width: 60%;
  bottom: -30px;
  animation: 0.5s ease-in-out 0s 1 wiggle;
  overflow: hidden;
}
.reverse {
  animation: 0.3s ease-in-out 0s wiggle;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}
//ABOUT
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 625px;
  height: 60%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 25px 35px;
  overflow: hidden;
  backdrop-filter: blur(40px) brightness(1.15);
  -webkit-backdrop-filter: blur(40px) brightness(1.15);
  -moz-backdrop-filter: blur(40px) brightness(1.15);
  -webkit-backdrop-filter: blur(40px) brightness(1.15);
  -webkit-backdrop-filter: blur(40px) brightness(1.15);
  -moz-backdrop-filter: blur(40px) brightness(1.15);
  -moz-backdrop-filter: blur(40px) brightness(1.15);
  -webkit-backdrop-filter: blur(40px) brightness(1.15);
  -moz-backdrop-filter: blur(40px) brightness(1.15);
  border-radius: 40px;
  box-shadow: $shadow 0px 14px 28px, $shadow-2 0px 5px 5px;
  animation: 0.3s ease-out 0s 1 moveup;
  h3 {
    color: $text;
    font-size: 26px;
    padding-bottom: 10px;
  }
  p {
    color: #464846;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: 600;
  }
  .about-1 p:first-child {
    text-indent: 20px;
  }
}
.about-title {
  text-align: center;
  margin-bottom: 16px;
}
.about-pic {
  width: 100%;
  border-radius: 30px;
  margin: 10px 0;
}
.leaves {
  position: absolute;
  left: -18%;
  top: 50%;
  width: 40%;
  animation: 0.3s ease-in-out 0s 1 sideabout;
  transform: rotateZ(80deg);
}
@keyframes sideabout {
  0% {
    transform: rotateZ(85deg) translateY(30%);
  }
  25% {
    transform: rotateZ(83deg) translateY(-10%);
  }
  75% {
    transform: rotateZ(81deg) translateY(-20%);
  }
  100% {
    transform: rotateZ(80deg) translateX(0) translateY(0);
  }
}
//MENU
.menu-section {
  z-index: 1;
  backdrop-filter: blur(40px) brightness(1.15);
  -webkit-backdrop-filter: blur(40px) brightness(1.15);
  -moz-backdrop-filter: blur(40px) brightness(1.15);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  width: 625px;
  height: 675px;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
  box-shadow: $shadow 0px 14px 28px, $shadow-2 0px 5px 5px;
  animation: 0.3s ease-out 0s 1 moveup;
}
@keyframes moveup {
  0% {
    transform: translateY(10%) scale(0.9);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
.left {
  background-color: #12282085;
  width: 35%;
  display: flex;
}
.menu-img {
  height: 101%;
  margin: 0 auto;
  padding-left: 10px;
}
.right {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 35px;
  margin-bottom: 15px;
  .menu-titles {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    color: $text;
    font-size: 22px;
  }
  p {
    color: #464846;
    padding-top: 10px;
    font-size: 17px;
    font-weight: 600;
  }
  h3,
  p {
    pointer-events: none;
    user-select: none;
  }
  .fresh {
    z-index: 1;
    color: #666968;
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    right: 50px;
  }
}

.contact-section {
  color: #aebeae;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  width: 625px;
  height: 500px;
  margin: 0 auto;
  margin-top: 40px;
  .contact-text,
  .contact-form {
    padding: 35px 35px;
    backdrop-filter: blur(40px) brightness(1.15);
    -webkit-backdrop-filter: blur(40px) brightness(1.15);
    -moz-backdrop-filter: blur(40px) brightness(1.15);
    box-shadow: $shadow 0px 14px 28px, $shadow-2 0px 5px 5px;
    border-radius: 40px;
  }
  .contact-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    background-color: #12282075;
    animation: 0.3s ease-in-out 0s 1 leftslide;
    h3 {
      color: $text;
      margin-bottom: 6px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 4px;
    }
    i {
      color: $text;
    }
  }
  @keyframes leftslide {
    0% {
      transform: translateX(-15%) scale(0.9);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  .address {
    display: flex;
    flex-direction: column;
  }
  .help {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .social {
    display: flex;
    justify-content: center;
    gap: 10%;
  }
  .contact-form {
    display: flex;
    color: $text;
    flex-direction: column;
    justify-content: space-between;
    width: 57%;
    animation: 0.3s ease-in-out 0s 1 rightslide;
    h3 {
      font-size: 28px;
    }
  }
  @keyframes rightslide {
    0% {
      transform: translateX(15%) scale(0.9);
      opacity: 0;
    }
    100% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
  }
  .form {
    margin-top: 5px;
    p,
    input,
    textarea {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 4px;
      padding-left: 5px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
    }
    textarea {
      width: 100%;
      height: 50%;
      resize: none;
    }
    input {
      height: 15%;
    }
    input,
    textarea {
      color: #d1fcb6;
      background-color: #656b6780;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      border: none;
      outline-width: 0;
    }
    ::placeholder {
      color: #a0afa0;
    }
    :focus {
      color: #d1fcb6;
      background-color: #12282075;
    }
  }
  input[type='submit'] {
    user-select: none;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    width: 115px;
    height: 40px;
    color: $text;
    transition: 0.3s;
    background-size: 200% auto;
    background-image: linear-gradient(
      to right,
      $primary 0%,
      $secondary 51%,
      $primary 100%
    );
    box-shadow: $shadow 0px 14px 28px, $shadow-2 0px 5px 5px;
    &:hover {
      transform: scale(1.03);
      background-position: right center;
    }
    &:active {
      transform: scale(0.97);
    }
  }
}
@keyframes sidewiggle {
  0% {
    transform: rotateZ(0) translateX(0) translateY(0);
  }
  25% {
    transform: rotateZ(-5deg) translateX(26%) translateY(-14%);
  }
  75% {
    transform: rotateZ(5deg) translateX(52%) translateY(-28%);
  }
  100% {
    transform: translateX(80%) translateY(-40%);
  }
}
@keyframes sidewigglereverse {
  0% {
    transform: rotateZ(0) translateX(80%) translateY(-40%);
  }
  10% {
    transform: rotateZ(5deg) translateX(52%) translateY(-28%);
  }
  18% {
    transform: rotateZ(-10deg) translateX(26%) translateY(-14%);
  }
  37% {
    transform: translateX(0) translateY(0);
  }
  60% {
    transform: rotateZ(15deg) translateX(-10%) translateY(-25%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0) translateY(40%);
  }
  20% {
    transform: rotateZ(-2deg) translateY(30%);
  }
  40% {
    transform: rotateZ(3deg) translateY(20%);
  }
  60% {
    transform: rotateZ(-3deg) translateY(10%);
  }
  80% {
    transform: rotateZ(3deg) translateY(5%);
  }
  90% {
    transform: rotateZ(-2deg) translateY(3%);
  }
  95% {
    transform: rotateZ(3deg) translateY(2%);
  }
  100% {
    transform: rotateZ(0) translateY(0);
  }
}
@media screen and (max-width: 1140px) {
  .logo {
    width: 20%;
    height: auto;
  }
  .git-leaf {
    width: 100%;
    // height: 5%;
  }
  .wrapper {
    height: 110px;
  }
  .leaf-wrapper {
    margin-left: 15%;
  }
  .leaf {
    width: 80%;
    height: auto;
  }
  .main {
    margin-left: 40px;
  }
  .hero-text {
    margin-top: 40px;
    width: 70%;
  }
  .cup {
    width: 480px;
    top: 25%;
  }
  .order-btn {
    margin-top: 220px;
  }
}
@media screen and (max-width: 770px) {
  .hero-text {
    width: 90%;
  }
  .git-leaf {
    height: 90%;
    width: auto;
    // right: -10%;
  }
  .wrapper {
    height: 106px;
    width: 121px;
  }
  #container {
    height: 100vh;
  }
  .cup {
    top: 30%;
    width: 80%;
  }
  .order-btn {
    z-index: 1;
    position: absolute;
    top: 57%;
    margin-bottom: 20vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .leaf-wrapper {
    margin-left: 20%;
  }
  .leaf {
    width: 80%;
  }
  .nav-items {
    margin-left: 3%;
  }
  .about-section {
    width: 80%;
    height: 65%;
    h3 {
      font-size: 18px;
      margin-bottom: 1vw;
    }
    p {
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: 600;
    }
    .about-pic {
      width: 100%;
    }
  }
  .about-section {
    padding: 20px 35px;
  }
  .menu-section {
    width: 80%;
    height: 550px;
  }
  .menu-img {
    height: 95%;
    margin: auto;
  }
  .right {
    h3 {
      font-size: 18px;
    }
    p {
      padding-top: 5px;
      font-size: 14px;
      font-weight: 600;
    }
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    .contact-text,
    .contact-form {
      width: 80%;
    }
    .contact-form {
      order: 1;
    }
    .contact-text {
      padding: 30px 35px;
      order: 2;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      h3 {
        font-size: 18px;
      }
      i {
        font-size: 22px;
      }
    }
    .help {
      margin-bottom: 0px;
    }
    .social {
      gap: 5%;
      width: 100%;
      margin-top: 20px;
    }
  }
}
//MOBILE
@media screen and (max-width: 428px) {
  body {
    height: 100vh;
  }
  #container {
    z-index: 1;
    min-height: 100%;
    overflow: hidden;
  }
  .nav-bar {
    justify-content: center;
    flex-direction: column;
    .logo {
      position: absolute;
      top: 4%;
      margin-left: 2%;
      justify-content: center;
      height: 50px;
      width: auto;
    }
    .nav-items {
      position: static;
      margin-right: 0;
      margin-left: 15px;
      margin-top: 90px;
    }
  }

  .github-link {
    top: 20px;
    right: 15px;
  }
  .git-leaf {
    right: -25%;
  }
  .wrapper {
    overflow-x: hidden;
    height: 85px;
    width: 121px;
  }
  .cup {
    width: 80%;
    top: 35%;
    // left: 22%;
  }
  .hero-text {
    width: 90%;
  }
  .order-btn {
    top: 45%;
    width: 150px;
    height: 50px;
    font-size: 18px;
  }
  .store-wrapper {
    left: 15px;
    bottom: 20px;
  }
  .store {
    font-size: 16px;
  }
  .leaf {
    margin-left: 20%;
  }
  .menu-section,
  .contact-section {
    width: 80%;
    height: 420px;
    border-radius: 25px;
  }
  .right {
    padding: 30px 20px;
    h3 {
      font-size: 15px;
    }
    p {
      font-size: 10px;
    }
    .fresh {
      font-size: 10px;
      bottom: 10px;
      right: 25px;
    }
  }
  .about-section {
    border-radius: 25px;
    padding: 15px 25px;
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 11px;
    }
    .about-pic {
      border-radius: 25px;
      width: 100%;
    }
  }
  .contact-section {
    border-radius: 25px;
    width: 100%;
    .form {
      height: 200px;
    }
    .contact-form,
    .contact-text {
      padding: 15px 25px;
      border-radius: 25px;
      h3 {
        font-size: 4vw;
      }
      p {
        font-size: 12px;
      }
      input {
        font-size: 12px;
      }
      textarea {
        height: 50px;
      }
      input[type='submit'] {
        width: 100px;
        height: 35px;
        margin: 0 auto 10px auto;
        font-size: 3.5vw;
      }
      .contact-text {
        height: 100px;
      }
      .address,
      .help {
        margin-bottom: 0;
        height: min-content;
      }
      .social-icons {
        font-size: 14px;
      }
    }
  }
}
