* {
  margin: 0;
  padding: 0;
  // border: 1px solid red;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: dotted;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
#container {
  background-image: url('./img/no-leaf-no-cup-transformed.png');
  background-size: cover; //2100px 100%
  background-position: center;
  background-repeat: no-repeat;
  // min-height: 1300px;
  height: 100vh;
}
.nav-bar {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  // justify-content: flex-start;
}
.logo {
  width: auto;
  height: 50px;
  margin-left: 30px;
}
.nav-items {
  // position: absolute;
  // left: 40%;
  display: flex;
  margin-right: 30px;
  margin-left: 5%;
  cursor: pointer;
  color: #343634; //#97f0ad;
  & .menu,
  .contact {
    padding-left: 30px;
  }
}
.about,
.menu,
.contact,
.github-link,
.store {
  transition: 0.5s;
  &:hover {
    color: #90fcc3;
    background: linear-gradient(30deg, #90fcc3 0%, #e0fea2 51%, #90fcc3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
}
.active {
  color: #90fcc3;
  background: linear-gradient(30deg, #90fcc3 0%, #e0fea2 51%, #90fcc3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.github-link {
  z-index: 1;
  position: absolute;
  top: 40px;
  right: 30px;
  margin-right: 0px;
  color: #182a23;
  &:hover {
    transform: scale(1.07);
  }
}
.main {
  display: flex;
  flex-direction: column;
  // width: 50%;
  margin-left: 60px;
  // background-image: url('./img/only-plant.png');
}

.hero-text {
  height: auto;
  width: 50%;
  margin-top: 160px;
  animation: 0.6s ease-in-out 0s 1 simmer;
}
@keyframes simmer {
  0% {
    filter: blur(3px);
    transform: scale(0.95);
  }
  100% {
    filter: blur(0px);
    transform: scale(1);
  }
}
.order-btn {
  font-size: 20px;
  font-weight: 700;
  color: #2a423a;
  width: 170px;
  height: 55px;
  margin-top: 160px;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 5px 5px;

  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #90fcc3 0%, #e0fea2 51%, #90fcc3 100%);
  animation: 0.6s ease-in-out 0s 1 simmer;
  &:hover {
    background-position: right center;
    transform: scale(1.03);
  }
}
.store-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  // margin-left: 15px;
  // margin-top: 30px;

  position: absolute;
  left: 43px;
  bottom: 40px;
}
.fa-location-dot {
  color: #182a23;
}
.store {
  // margin-left: 30px;
  // margin-top: 10px;
  color: #343634;
  cursor: pointer;
}
.git-leaf {
  width: 100%;
  z-index: 2;
  position: relative;
  right: -10%;
  animation: sidewigglereverse 1.5s;
}
.wrapper {
  position: absolute;
  // width: 20%;
  top: 0;
  right: 0;
}
.wrapper:hover .git-leaf {
  animation: sidewiggle 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
.cup {
  // z-index: -1;
  width: 47%; //738px;
  position: absolute;
  top: 20%;
  right: 0;
  // transition: 0.5s;
  animation: growslide 0.5s;
}
@keyframes growslide {
  0% {
    transform: scale(0.9) translateX(-20%);
  }
  100% {
    transform: scale(1) translateX(0);
  }
}
.leaf {
  position: absolute;
  bottom: -5%;
  width: 70%;
  margin-left: 20%;
  animation: 0.5s ease-in-out 0s 1 wiggle;
}
.reverse {
  animation-play-state: paused;
  animation: 0.5s ease-in-out 0s wiggle;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}
.menu-section {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
}
.menu-img {
  height: 60%;
}
@keyframes sidewiggle {
  0% {
    transform: rotateZ(0) translateX(0) translateY(0);
  }
  25% {
    transform: rotateZ(-5deg) translateX(26%) translateY(-14%);
  }
  75% {
    transform: rotateZ(5deg) translateX(52%) translateY(-28%);
  }
  100% {
    transform: translateX(80%) translateY(-40%);
  }
}
@keyframes sidewigglereverse {
  0% {
    transform: rotateZ(0) translateX(80%) translateY(-40%);
  }
  10% {
    transform: rotateZ(5deg) translateX(52%) translateY(-28%);
  }
  18% {
    transform: rotateZ(-10deg) translateX(26%) translateY(-14%);
  }
  37% {
    transform: translateX(0) translateY(0);
  }
  60% {
    transform: rotateZ(15deg) translateX(-10%) translateY(-25%);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0) translateY(40%);
  }
  20% {
    transform: rotateZ(-2deg) translateY(30%);
  }
  40% {
    transform: rotateZ(3deg) translateY(20%);
  }
  60% {
    transform: rotateZ(-3deg) translateY(10%);
  }
  80% {
    transform: rotateZ(3deg) translateY(5%);
  }
  90% {
    transform: rotateZ(-2deg) translateY(3%);
  }
  95% {
    transform: rotateZ(3deg) translateY(2%);
  }
  100% {
    transform: rotateZ(0) translateY(0);
  }
}

@media screen and (max-width: 1140px) {
  .logo {
    width: 20%;
    height: auto;
  }
  .git-leaf {
    width: 100%;
    // height: 5%;
  }
  .wrapper {
    height: 110px;
  }
  .leaf {
    width: 85%;
    margin-left: 10%;
  }
  .main {
    margin-left: 40px;
  }
  .hero-text {
    margin-top: 40px;
    width: 70%;
  }
  .cup {
    width: 480px;
    top: 25%;
  }
  .order-btn {
    margin-top: 220px;
  }
}
@media screen and (max-width: 770px) {
  .hero-text {
    width: 90%;
  }

  .git-leaf {
    height: 90%;
    width: auto;
    // right: -10%;
  }
  .wrapper {
    height: 106px;
    width: 121px;
  }
  // .hero-text {
  //   width: 70%;
  // }
  #container {
    min-height: 120vh;
  }
  .cup {
    top: 30%;
    right: -3%;
    transform: rotateZ(-4deg);
  }
  .order-btn {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .leaf {
    width: 80%;
    margin-left: 30;
  }
  .nav-items {
    margin-left: 3%;
  }
}

@media screen and (max-width: 428px) {
  #container {
    min-height: 140vh;
  }
  .nav-bar {
    justify-content: center;
    flex-direction: column;
  }
  .logo {
    position: absolute;
    top: 15px;
    margin-left: 15px;
    justify-content: center;
    height: 50px;
    width: auto;
  }
  .nav-items {
    position: static;
    margin-right: 0;
    margin-left: 15px;
    margin-top: 100px;
  }
  .github-link {
    top: 20px;
    right: 15px;
  }
  .git-leaf {
    right: -25%;
  }
  .wrapper {
    overflow-x: hidden;
    height: 85px;
    width: 121px;
  }
  .cup {
    width: 80%;
    top: 35%;
  }
  .hero-text {
    width: 90%;
  }
  .order-btn {
    top: 45%;
  }
  .store-wrapper {
    left: 15px;
    bottom: 20px;
  }
  .leaf {
    margin-left: 20%;
  }
}
